<section id="home" class="d-flex flex-column justify-content-center align-items-center text-white vh-100 position-relative">
    <button id="theme-toggle" class="btn btn-link text-decoration-none p-0 me-2 theme-toggle-home" title="Alternar tema">
        <i class="bi bi-sun-fill theme-icon-sun"></i>
        <i class="bi bi-moon-stars-fill theme-icon-moon d-none"></i>
    </button>
    <div class="container text-center">
        <h1 class="display-3 fw-bold">Diego Bernardes Silva</h1>
        <p class="lead fs-3">
            Eu sou <span id="typed-text" class="fw-bold"></span>
        </p>
        <p class="lead col-md-8 mx-auto">
            Desenvolvedor apaixonado por transformar ideias em realidade com Python, JavaScript e design de interfaces dinâmicas. Especialista em criar soluções web robustas e insights valiosos a partir de dados.
        </p>
        <div class="mt-4">
            <a href="#projects" class="btn btn-primary btn-lg me-3">
                <i class="bi bi-folder-symlink"></i> Meus Projetos
            </a>
            <a href="#contact" class="btn btn-outline-light btn-home-contact btn-lg me-3">
                <i class="bi bi-envelope-paper"></i> Entre em Contato
            </a>
            <a href="{{ url_for('static', filename='curriculo/Diego_Bernardes_Silva_CV.pdf') }}" class="btn btn-danger btn-lg" download="Diego_Bernardes_Silva_CV.pdf">
                <i class="bi bi-download"></i> Download CV
            </a>
        </div>
        <div class="social-icons mt-5">
            <!-- Ícones de redes sociais (ex: Font Awesome ou SVGs) -->
            <a href="https://www.linkedin.com/in/diegobernardessv" class="text-white me-3 fs-4"><i class="bi bi-linkedin"></i> LinkedIn</a> 
            <a href="https://github.com/diegobernardessv" class="text-white me-3 fs-4"><i class="bi bi-github"></i> GitHub</a>
            <a href="https://gitlab.com/diegobernardessv" class="text-white fs-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-gitlab me-1" viewBox="0 0 16 16" style="vertical-align: -0.125em;">
                    <path d="M15.76 8.536L12.855.366a.35.35 0 0 0-.68.004l-1.765 5.424H5.59L3.825.37a.35.35 0 0 0-.68-.004L.24 8.536a.35.35 0 0 0 .133.407l7.547 5.412a.35.35 0 0 0 .41 0l7.547-5.412a.35.35 0 0 0 .133-.407z"/>
                </svg>GitLab
            </a>
            <!-- Adicionar mais links/ícones conforme necessário -->
        </div>
    </div>
</section> 